# ==============================
# Node.js / TypeScript
# ==============================
node_modules/
dist/
.env
*.log

# ==============================
# Prisma
# ==============================
*.db
*.db-journal

# ==============================
# Sistema operacional
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDEs
# ==============================
.vscode/
.idea/
*.swp
*.swo

# ==============================
# Build
# ==============================
build/
*.tsbuildinfo



